* {
  margin: 0;
  padding: 0;
}

.home-page {
  background-image: url("./svg/background-pic.svg");
  height: 65vw;
  max-width: 100%;
}


.logo {
  width: 57%;
  height: 38%;
  padding-top: 6%;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;

}



.cont-1 {
  width: 36%;
  height: 5%;
  margin-left: 34%;
  margin-right: 37%;
  background: rgba(22, 29, 111, 0.7);
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 7%;
  font-family: 'Century Schoolbook', sans-serif;
  font-size: 29px;
  font-weight: 400;
  letter-spacing: 0.12em;
  text-align: center;
  color: white;
  padding: 1%;
}

.button-comp {
  margin-top: 3%;
  text-align: center;
}

.button-home {
  background: #000000;
  border: 1px solid #18FFFF;
  box-shadow: 1px 1px 12px 6px rgba(24, 255, 255, 0.5);
  border-radius: 15px;
  width: 13%;
  height: 7%;
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 2%;
  padding: 1%;
}